<!--Footer Section Start-->
<div class="footer-area">
    <div class="container">
        <div class="footer-widget-area section-padding-6">
            <div class="row justify-content-between">

                <!--Footer Widget Start-->
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <a class="footer-logo" href="#"><img src="/assets/images/logo/logo2.png" alt=""></a>
                        <div class="footer-widget-text">
                            <p>Group 9: Programmers Never Give Up</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">About Us</h4>

                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="#">公司</a></li>
                                <li><a href="#">客服</a></li>
                                <li><a href="#">新闻</a></li>
                                <li><a href="#">微信</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Help</h4>

                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="#">帮助中心</a></li>
                                <li><a href="#">客户服务</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Footer Section End-->

<!--Copyright Section Start-->
<div class="copyright-section">
    <div class="container">
        <div class="copyright-wrapper">

            <!--Right Start-->
            <div class="copyright-content" style="text-align: center">
                <p>Group9_PNG Inc.版权所有©2021保留所有权利。</p>
            </div>
            <!--Right End-->
        </div>
    </div>
</div>
<!--Copyright Section End-->


<!--Back To Start-->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!--Back To End-->
